<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN'>
<html lang=”en”>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Attractions in Nazareth</title>
</head>

<body>



  	<nav class="navbar navbar-default navbar-inverse">

      <!-- Inside of a Container -->
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- This is the actual code that create the "hamburger icon" -->
      <!-- The data-target grabs ids to put into the icon -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

          <!--  Code for the hamburger icon-->
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">MAIN PAGE</a>
      </div>

      <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Attractions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Something else here</a></li>

            </ul>
          </li>
        </ul>

        <!-- SEARCH BAR -->
        <form class="navbar-form navbar-left" role="search" name="search_form" action='/search/' method='get' onsubmit="return validate_search_form()">
          <div class="form-group">
            <input type="text" name='q' class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <!-- Stuff on the Right -->

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/my_cart/">Order</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <script
  src="http://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
function validate_search_form() {
    var x = document.forms["search_form"]["q"].value;
    if (x == "") {
        alert("Search field must be filled out");
        return false;
    }
    if (x.length > 20) {
        alert("Search field must be shorter than 20 symbols");
        return false;
    }
}
</script>


{% block content %}
    {% endblock %}
{% block my_cart %}
{% endblock %}
{% block congrats %}
{% endblock %}
</body>
</html>